.form-wrapper {
    display: flex;
    align-items: center;
    gap: 26px;
}

.form-input {
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

.form-button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #a8ff29;
}